.footer {
    background-color: #040053;
    color: white;
    font-family: "Lato", sans-serif;
    border-radius: 0px 0px 40px 40px;
    width: 90%;
    margin: 0 auto;
  }
  
  .footer .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
    color: #000;
  }
  
  .footer .form-control:focus {
    border-bottom: 2px solid #0a0b0c;
    box-shadow: none;
  }
  
  .footer .fw-bold {
    color: #000000a1;
  }
  
  .footer button:hover {
    background-color: #ffae42;
  }
  
  .text-gradient {
    background: linear-gradient(92.81deg, #d33434 0.8%, #066790 99.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  .footer-para{
    text-align: left;
  }
  .main-heading text-gradient{
    text-align: left;
  }
  hr {
   
  height: 2px;
  background-color: white;
  color: white;
  width: 100%;
  margin: 20px auto;
  }
  